* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .wrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
} */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 1440px;
  height: 792px;
  background-image: url("../../resources/images/riding.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 55px;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  line-height: 64.45px;
  height: 94px;
  width: 628px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  font-size: 46px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #232323;
}

.p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #232323;
  width: 800px;
}

.gentsDiv {
}

.gentsImg {
  width: 471px;
  height: 332px;
}

.middle {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.mid {
  display: flex;
  width: 1440px;
}

.middleText {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  padding-left: 20px;
}

.emph2box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 54px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.boxWrapper {
  width: 1613px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 160px;
  margin-right: 160px;
}

.boxTop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.boxBottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 89px;
  margin-bottom: 89px;
}

.boxOne {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxTwo {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxThree {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxFour {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxFive {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxSix {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxSeven {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.boxEight {
  width: 277px;
  height: 295px;
  background-color: #ffffff;
  box-shadow: 1px 2px 38px 8px rgba(0, 0, 0, 0.05);
  border-radius: 23px;
}

.cardImg {
  margin-bottom: 90px;
}

.cardName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInfo {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.cardLorem {
  margin: 10px 10px 30px 30px;
}

.cardImgContainer {
  width: 100%;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardImg {
  border-radius: 49px;
  width: 98px;
  height: 98px;
}
